body {
    margin: 0;
    background: #FAFFDF;
}

A {
    text-decoration: none;
}

.album {
    background: #FAFFDF;
    text-align: center;
}

.photo_box {
    position: relative;
    height: 375px;
    width: 375px;
    margin: 7px;
    display: inline-block;
    vertical-align: top
}

.photo_box:hover {
    background: #FFFFB0;
}

.photo_box img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
