Example*

.bridge.touch
.libs.touch

bridge/include/
bridge/lib/
deps/
obj/

*.tar.gz
*.tar
*.zip
*.sublime-project
*.sublime-workspace

.clang_complete
*.o
*.a

.ycm_extra_conf.pyc

photos/
thumbnails/
web_pages/

libwac.a

tags
test.sh
