Example*
bridge.touch
bridge/include/
bridge/lib/
deps/
obj/
*.tar.gz
*.tar
*.zip
*.sublime-project
*.sublime-workspace
.clang_complete
photos/
thumbnails/
web_pages/
libwac.a
tags

externals/libarchive-2.8.5/

externals/zlib-1.2.8/
